/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.mainmenu {display: block;}
.small_device_menu, .small_menu_area {display: none;}
.footer_menu ul li {width: 24%;}
	
}





/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
.sidebar_section {float: none; width: 100%}
.mainsection {float: none; width: 100%}
div.mobile_menu_area { width: 177px;}
.mainmenu {display: none;}
.small_device_menu {display: block;}
.mainmenu ul li:hover, .current_page_parent, .current_page_item { background: none repeat scroll 0 0 rgba(0, 0, 0, 0);}
.single_post {width: 95%}
.footer_menu ul li {width: 48%;}
.footer_bottom p {text-align: center;}
.footer_logo {float: none;text-align: center;}

}






/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
.sidebar_section {float: none; width: 100%}
.mainsection {float: none; width: 100%}
.mainmenu {display: none;}
.small_device_menu {display: block;}
.mainmenu ul li:hover, .current_page_parent, .current_page_item { background: none repeat scroll 0 0 rgba(0, 0, 0, 0);}
.single_post {width: 95%}
.footer_menu ul li {width: 24%;}
.footer_bottom p {text-align: center;}
.footer_logo {float: none;text-align: center;}

}

