body {font-family: "open sans",sans-serif;margin: 0 auto;width: 100%;}
ol, ul {margin: 0; padding: 0; list-style: none }
.slicknav_menu {display:none}
img {max-width:100%;height:auto}
a:hover {text-decoration: none;}
.mainsection {width:65%;}
.sidebar_section {width: 30%; float: right;}
.fix {overflow:hidden}
.floatleft {float:left}
.floatright {float:right}
.alignleft {text-align: left}
.alignright {text-align: right}
.aligncenter {text-align: center}
.wrapper {background:#f5f9fa; margin: 10px auto 0;overflow: hidden;width: 95%;}
.footer_top {}
.footer_bottom {width:100#;}
.header_top {background: none repeat scroll 0 0 #18a5a5;min-height: 35px;}
.top_menu {margin-top: 6px;}
.top_menu ul{}
.top_menu ul li{float: left}
.top_menu ul li a{color: #fff;padding: 5px 10px;text-transform: capitalize;}
.top_menu ul li a:hover{}
.social_icon {margin-top:6px; float:right}
.social_icon a{display: inline-block; }
.social_icon a i{color: #fff;padding: 5px 10px;}
.social_icon a i:hover{color: #8E44AD;}
.search {margin-top:5px; float: right}
.search input{background-color: #ffffff;border: 1px solid #efefef;border-radius: 2px;box-sizing: border-box;color: #333333;display: inline-block;
	font-size: 1em;max-width: 100%;padding: 3px; width:165px;}
.logo_area {background: none repeat scroll 0 0 #f7f7f7;padding: 0;}
.logo_bg {width:93%; margin: 0 auto;}
.logo {margin: 5px 0;}
.logo a{font-family: 'Lobster', cursive; font-size: 25px; color: #18a5a5}
.logo p{font-family: 'Lobster', cursive; color: #127070;margin-top: 5px;}
.site_title, .site_logo {float: left; margin-right: 5px;}
.header_image img{width: 400px; height: 79px; margin: 0px 0 5px 0;}
.mainmenu_area {width: 100%}
.mainmenu {background: none repeat scroll 0 0 #18a5a5;min-height: 51px; position: relative; z-index: 9999; padding-left:33px;}
.mainmenu ul{}
.mainmenu ul li{float: left}
.mainmenu ul li a{color: #fff;display: block;font-size: 12px;font-weight: bold;padding: 17px;text-transform: uppercase;}
.mainmenu ul li a:hover{text-decoration: none; transition: all .5s; background: #0e7575}

/*****************************************************************************************/
/*DropDown Menu CSS*/
/*****************************************************************************************/

.mainmenu ul li ul { visibility: hidden; position: absolute;  opacity: 1; padding: 5px 0; background-color: rgba(0, 153, 153, 0.9); text-align: left;margin-top: 0px;
  -webkit-transition: all .3s .1s;-moz-transition: all .3s .1s; -o-transition: all .3s .1s;
  transition: all .3s .1s;-webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 1px;
  -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);-moz-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4); box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);}
  
.mainmenu ul li:hover>ul{ visibility: visible;}
.mainmenu ul ul li {float: none; margin:0px; padding:0px; width: 220px; display: block; border-bottom: 1px solid rgba(0,0,0,.1);}
.mainmenu ul ul li:last-child {border-bottom: 0px solid #ddd;}
.mainmenu ul ul li:hover {background: none repeat scroll 0 0 rgba(0, 0, 0, 1); border-bottom: 0px; }
.mainmenu ul li:hover ul {display: block;}
.mainmenu ul ul li a{padding: 10px 15px; display: block; color: #fff;font-size: 11px; font-weight:bold;}
.mainmenu ul ul li a:hover{}

/*****************************************************************************************/
/*SUB MENUS CSS*/
/*****************************************************************************************/
.mainmenu ul li ul ul {margin: -28px 0 0 210px;}
.mainmenu ul li ul ul li {height: 40px;}
.mainmenu ul li ul ul li a{font-weight: bold;}

/*****************************************************************************************/
/*MOBILE MENU CSS*/
/*****************************************************************************************/

div.mobile_menu_area {display:none}
.small_device_menu, .small_menu_area {display: none;}
.small_device_menu {background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);border-bottom: 1px solid rgba(0, 0, 0, 0.1);font-family: open sans;
	font-size: 14px;padding: 5px 22px;text-transform: uppercase;}
.small_device_menu img{margin-right: 5px}
.small_menu_area {background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);}
.small_menu_area ul {list-style: none; margin: 0; padding: 0}
.small_menu_area ul li{border-bottom: 1px solid rgba(0,0,0,.2);margin-left: 10px;padding: 2px 0}
.small_menu_area ul li:hover{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);}
.small_menu_area ul li a{display: block;color: #FFFFFF;font-family: open sans;font-size: 14px; text-transform: uppercase}
.small_menu_area ul li a:hover{}
.small_menu_area ul ul{margin-bottom: 10px;margin-top: 10px;}
.small_menu_area ul ul li{border-bottom: 1px solid rgba(0,0,0,.2);margin-left: 20px;padding-bottom: 5px;padding-left: 10px;}
.small_menu_area ul ul li:first-child{border-top: 1px solid rgba(0,0,0,.2)}
.small_menu_area ul ul li:last-child{border-bottom: 0px solid #444;}
.small_menu_area ul ul li:hover{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);}
.small_menu_area ul ul li a{display: block;color: #FFFFFF;font-family: open sans;font-size: 14px}
.small_menu_area ul ul li a:hover{color: #FFFFFF;}


.mainsection { margin-left: 5px; float: left}
.post_area {}
.see_more_news {border-left: 2px groove #3eb1fe;color: rgba(0, 0, 0, 0.5);display: block;font-size: 14px;font-weight: bold;padding: 11px;
				text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);text-transform: uppercase;}

.en_date {width: 36%; float: left}
.cover_picture {margin-top: 5px;}
.cover_picture img{width: 380px;}
.sidebar_section {}
.follow_section {}
.follow_title {background: #3498DB}
.follow_title h3 {border-left: 4px groove rgba(0, 0, 0, 0.3);color: #fff;float: left;font-size: 16px;font-weight: bold;margin: 0;padding: 12px;}
.follow_icons {border: 1px solid #d8e2e4;margin-bottom: 25px;padding: 5px;}
.follow_icons a{background: none repeat scroll 0 center rgba(0, 0, 0, 0.05);float: left;font-size: 30px;height: 64px;margin: 2px;padding-top: 10px;text-align: center;width: 58px;}
.login_section {}
.recent_post_section {background: none repeat scroll 0 0 #fff;padding: 10px; margin: 15px 0;}
.recent_post_section h3 a{font-size:15px;}
.recent_title {}
.post-image img {width: 100%; height: auto;}
.single_recent_content {}
.single_recent_content h3{font-weight: bold; }
.single_recent_content h3 p {font-weight: normal; }
.single_tab_comments_posts {}
.single_tab_comments_posts li p{display: table-cell;}
.single_tab_comments_posts li a img{height: 48px; width: 48px;}
.single_recent_content img{float: left;height: 77px;margin-right: 10px;margin-top: 5px;width: 77px;}
.single_tab_comments_posts li, .single_recent_post, .single_popular_post {list-style: none;border-bottom: 1px solid rgba(0, 0, 0, 0.1);margin: 5px 0;padding-bottom: 5px; overflow:hidden}
.tab_comments {margin-left: 25px}
.tweets_section {}
.tweets_title {background: none repeat scroll 0 0 #3498db;overflow: hidden;}
.tweets_section h3{border-left: 4px groove rgba(0, 0, 0, 0.3);color: #fff;float: left;font-size: 16px;font-weight: bold;margin: 0;padding: 12px;}
.twitter-widget-0 .stream {height: auto;}
.widget_title {background: none repeat scroll 0 0 #18a5a5;overflow: hidden; margin-bottom:2px;}
.widget_title h3{border-left: 4px groove rgba(0, 0, 0, 0.3);color: #fff;float: left;font-size: 16px;font-weight: bold;margin: 0;padding: 12px;}
.single_video_featured {margin-top: 15px;}
.single_video_featured iframe{width: 100%}
.footer_top {background: none repeat scroll 0 0 #18a5a5;padding: 0 15px;text-align: center;}
.footer_top .col-lg-2 {padding: 0}

.footer_menu {position: relative;padding-top: 5px}
.footer_menu ul {margin: 0;padding: 0;list-style: none;}
.footer_menu ul li {border-right: 1px solid #ddd;display: inline-table; width: 12%;padding: 5px;}
.footer_menu ul li:last-child {border-right: 0px solid #ddd;}
.footer_menu ul li a {color: #ddd;display: block;font-size: 16px; text-transform: uppercase}
.footer_menu ul li a:hover {color: #555;}
.footer_menu ul li ul li {border-right: 0px solid;display: block;clear: both;width: 98%;border-top: 0px solid #ddd;}
.footer_menu ul ul li a {display: block;font-size: 13px;text-transform: capitalize;}

.item1 {border-top: 5px solid #323bf8}
.item2 {border-top: 5px solid #87f510}
.item3 {border-top: 5px solid #c31810}
.item4 {border-top: 5px solid #9b59b6}
.item5 {border-top: 5px solid #09f830}
.item6 {border-top: 5px solid #d711b4}
.item7 {border-top: 5px solid #e74c3c}
.item8 {border-top: 5px solid #7f8c8d }
.item9 {border-top: 5px solid #f39c12}
.item10 {border-top: 5px solid #16a085}



.footer_bottom {background: #2c3e50; padding: 15px; }
.footer_bottom p{color: #fff }
.footer_bottom i{margin: 0 15px;}
.footer_logo a{font-family: 'Lobster', cursive; font-size: 25px; color: #18a5a5;}
.scroll_menu {margin-left: 35px;margin-top: 25px;}
.login {background: none repeat scroll 0 0 #fff; padding: 10px; overflow: hidden; }
.login input[type="text"], .login input[type="password"], .login input[type="submit"] {padding: 10px; float: left; margin-right: 2px; margin-bottom:15px;width:45%;} 
.login input[type="submit"] {border: 1px solid #ccc;letter-spacing: 1px;margin-top: 10px;text-transform: capitalize;}
.login_title {background: none repeat scroll 0 0 #18a5a5}
.login_title h3{border-left: 5px groove rgba(0,0,0, 0.3);color: #fff;float: left;font-size: 16px;font-weight: bold;margin: 0;padding: 12px;}

.stick {position:fixed;top:0px;width:100%; box-shadow: 2px 2px 2px 1px #333; z-index: 9999}
.scrollUp a{ height: 25px; width: 25px; position: fixed; opacity: .4; bottom:50px; right: 40px; display: none; }
.breadcrumbs {width: 95%; margin: 0 auto}
.breadcrumbs h4 {border: 1px solid #ddd;display: inline-block;margin: 10px 0 0;padding: 5px;}
.news_date h5 i {margin-right:5px;}

/* DYNAMIC AREA*/
.post_comments {float: right}
.post_meta {margin: 20px 0;}
.post_meta ul li  {float: left; margin-right: 20px;}
.single_post_area {padding: 20px}
.single_post {border: 1px solid rgba(0, 0, 0, 0.1);float: left;margin: 5px;min-height: 370px;overflow: hidden;padding: 10px 20px;position: relative;width: 48%;}
.single_post a h1 {color: #666; text-transform: }
.single_post a h1:hover {text-decoration: none; color: #000}
a.moretag {border: 1px solid rgba(0, 0, 0, 0.2);color: #333;display: list-item;list-style: none outside none;margin: 10px 0;padding: 5px;text-align: center;}
a.readmore {border: 1px solid #ddd;color: #333;display: block;margin: 10px 0;padding: 5px;}
a.readmore:hover {color: #3498DB;}
a.moretag i{margin-left:10px; color: #666}
a.moretag:hover {background: none repeat scroll 0 0 rgba(0,0,0,.1); text-decoration: none; transition: all .05s}
.single_widget {margin: 25px 0}
.single_widget ul{}
.single_widget ul li{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);border-radius: 0 30px 30px 0;margin: 3px 0;padding: 6px 15px;}
.single_widget ul li a{}
.single_widget ul li a:hover{}


/* AUTHOR META */
.author_area {border:1px solid rgba(0, 0, 0, 0.1);padding: 10px;}
.author_area ul {list-style: none outside none; margin-left: 25px;}
.author_area ul li {margin-bottom: 15px; margin-top: 10px}
.author_name {padding-bottom: 5px; text-transform: uppercase;}
.author_bio {text-transform: uppercase;}
.author_des {padding-bottom: 5px;}
.author_des i{margin-right: 5px;}
.author_avatar img {background: none repeat scroll 0 0 #ddd;padding: 2px;}
.not-found {margin: 20px 0;text-align: center;}
#bg-bg {height: auto;margin: 25px auto;width: 50%;}
.full_page {padding: 10px 25px}
form.wpcf7-form { padding: 25px 0;}
form.wpcf7-form p {color: #555555;font-family: droid serif;font-size: 15px;margin-left: 35px; padding: 2px;}
input.wpcf7-form-control, input.wpcf7-form-control-wrap {height: 30px;width: 50%;}
textarea.wpcf7-form-control {height: 90px;width: 50%;}
input.wpcf7-form-control[type="submit"] {background: none repeat scroll 0 0 #3498db;color: #fff;height: 35px;}


/*********************************************/
/*THEME EXTRA CSS*/
/********************************************/

.wp-caption {
	max-width: 100%;
}
.wp-caption-text {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
.sticky {}
#pagenavi {display: none;}
.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;font-size: 12px;line-height: 1.5;margin: 0;max-height: 50%;opacity: 0;padding: 6px 8px;position: absolute;bottom: 0;left: 0;
	text-align: left;width: 100%;
}

.thread-odd{padding: 5px 10px ; border: 1px solid rgba(0,0,0,.1);margin: 15px 0 }
.thread-odd figure {float: left; margin-right: 5px; padding: 5px 15px; margin-bottom: 15px}
.thread-odd h4 span {margin-right:10px;}
.bypostauthor {background-color: #fbfbfb;border-left: 5px solid rgba(0, 0, 0, 0.4);box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.1);padding: 9px 56px;}
.bypostauthor header h4 span {margin-right: 10px; }
.bypostauthor figure{float: left; margin-right: 5px; padding: 5px 15px}
.comment-form input[type=text] {height: 32px;margin-right: 10px;padding: 5px;width: 33%;}
.comment-form textarea {height: 150px;margin-right: 10px;padding: 15px;width: 50%;}
.logged-in-as a:first-child {border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 4px;padding: 3px 10px;text-transform: uppercase;}


/*****************************************************************************************/
/*PAGINATION*/
/*****************************************************************************************/
.pagination{border: 1px solid rgba(0, 0, 0, 0.2);clear: both;display: table;font-size: 11px;line-height: 13px;margin-left: 5px;padding: 20px;}
.pagination span, .pagination a{font-family: 'lato', sans-serif; display:block;float:left; font-weight:  bold;margin:2px 2px 2px 0;text-decoration:none;width:auto;color:#fff;background:#222222; padding:10px 8px;}
.pagination a:hover{color:#fff;background:#3279BB;}
.pagination .current{background:#3279BB;color:#fff; padding:10px 12px;} 
.stick {background:none repeat scroll 0 0 rgba(0, 0, 0, 0.8); color: #fff; position: fixed; top: 0; width: 100%;}
.not-found {margin: 15px 35px; text-align: center;}
.prev_post {float: left; margin-top: 25px; margin-bottom: 25px;}
.next_post {float: right; margin-top: 25px; margin-bottom: 25px;}
.next_post a, .prev_post a { color: #326DA2}
.post-pagination {margin: 10px 0}
